.title {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;

  h1 {
    margin: 0;
    color: var(--primary);
  }

  h3 {
    color: var(--primary-hover);
    margin: 0;
  }
}