.word {
  display: flex;
  align-items: center;
  margin: 0 8px 16px 0;
  border-radius: 8px;
  border: 1px solid var(--text-muted);
  padding: 8px;
  cursor: pointer;
  color: var(--text-muted);
}

.word__punctuation {
  display: flex;
  border: none;
  padding: 0;
  margin-left: -4px;
  margin-right: 8px;
  align-items: flex-end;
  cursor: default;
  color: var(--success);
  opacity: 0.85;
}

.word:hover {
  color: var(--primary-hover);
}

.word--LEARNED {
  color: var(--success);
  border-color: var(--success);
}

.word--LEARNING {
  color: var(--warning);
  border-color: var(--warning);
}

.word--NOT_LEARNED {
  color: var(--danger);
  border-color: var(--danger);
}

.word--selected {
  border: 1px solid var(--primary);
}